{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
<div class="container mt-5">
<h1 class="text-center"> {{ title }} </h1>
<p class="mt-5"> {{ homepage_text }} </p>
</div>
{% endblock %}
